section#about {
    padding: 5rem 0;
    color: $sec-text-color;
    div#about-header {
        text-align: center;
        text-transform: uppercase;
        h3 {
            font-weight: 600;
        }
    }
    div#about-text {
        p {
            margin-bottom: 2rem;
        }
    }
    div#about-images-row {
        div.holder {
            height: 12rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-radius: .2rem;
            background-image: url('../images/ab1.jpg');
        }
        &:nth-of-type(2) {
            background-image: url('../images/ab2.jpg');
        }
        &:last-of-type {
            background-image: url('../images/ab3.jpg');
        }
    }
}