section#clinets {
    padding: 2.5rem 0;
    background-color: $sec-body-color;
    div.row {
        div.img-holder {
            height: 7.5rem;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        & div:nth-of-type(1) div.img-holder {
            background-image: url('../images/clogo1.png');
        }
        & div:nth-of-type(2) div.img-holder {
            background-image: url('../images/clogo2.png');
        }
        & div:nth-of-type(3) div.img-holder {
            background-image: url('../images/clogo3.png');
        }
        & div:nth-of-type(4) div.img-holder {
            background-image: url('../images/clogo4.png');
        }
        & div:nth-of-type(5) div.img-holder {
            background-image: url('../images/clogo4.png');
        }
        & div:nth-of-type(6) div.img-holder {
            background-image: url('../images/clogo6.png');
        }
    }
}