$nav-when-top: rgba(0, 0, 0, 0);
$main-body-color: #ffffff;
$sec-body-color: #f8f8f8;
$main-color: #A5BAC7;
$sec-color: #31373B;
$third-color: #333333;
$main-text-color: #ffffff;
$sec-text-color: #797979;