section#contact {
    background-color: $third-color;
    padding: 1.2rem 0;
    color: $main-text-color;
    div.img-holder {
        background-image: url('../images/logo_big.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        height: 5rem;
    }
    p {
        font-size: 1rem;
    }
    p#creator a {
        color: $main-color;
    }
    button#submit-button {
        background-color: $main-color;
        border: none;
        text-shadow: 1px 1px rgba($color: #000000, $alpha: 0.8);
    }
}