div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $sec-color, $third-color);
    opacity: .6;
}

span.line {
    width: 14rem;
    height: .2rem;
    display: block;
    background-color: $main-color;
    margin: 2rem auto;
}

::selection {
    background-color: $main-color;
}