header#main-header {
    height: 100vh;
    // background-image: url('../images/bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 64px;
    position: relative;
    color: $main-text-color;

    &::before {
        content: ' ';
        display: block;
        background-image: url('../images/bg.jpeg');
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: -10; // This is pretty important.
      }
      
    div.front-text-holder {
        height: calc(100vh - 64px);
        display: flex;
        div.image {
            height: 7rem;
            width: 90%;
            background-image: url('../images/logo_big.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            object-fit: cover;
            margin-bottom: 2rem;
        }
    }
}