section#people {
    position: relative;
    padding: 5rem 0;
    div#people-header {
        text-align: center;
        text-transform: uppercase;
        h3 {
            font-weight: 600;
        }
    }
}