section#services {
    padding: 5rem 0;
    background-color: $sec-body-color;
    div#services-header {
        text-align: center;
        text-transform: uppercase;
        h3 {
            font-weight: 600;
        }
    }
    div#services-holder {
        width: 100%;
        margin-top: 1rem;
    }
    hr {
        width: 100%;
        border-top: .1rem solid $third-color;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    div {
        &.icon-holder {
            margin-right: 1rem;
            svg {
                color: $main-color;
                font-size: 1.8rem;
            }
        }
        h4 {
            font-size: 1.2em;
            padding-bottom: .8rem;
            font-weight: 400;
        }
        p {}
    }
}