@import '../../node_modules/normalize.css/normalize.css';
@import './_colors.scss';
@import './_effects.scss';
@import './_nav.scss';
@import './_header.scss';
@import './_about.scss';
@import './_sevices.scss';
@import './_team.scss';
@import './_portfolio.scss';
@import './_clinets.scss';
body {
    background-color: $main-body-color;
    height: 2000px;
    font-size: 16px;
}